ќсновные библиотеки, которые вам понадоб€тс€:
Ч Pandas - дл€ создани€ и обработки датафреймов
Ч NumPy - дл€ работы с массивами
Ч Matplotlib - дл€ визуализации результатов анализа
Ч Plotly - дл€ работы с интерактивными графиками
Ч SciPy - дл€ статистических исследований
Ч Math - дл€ работы с математическими функци€ми и константами
Ч Re - дл€ работы с регул€рными выражени€ми
Ч PyMystem - дл€ лемматизации 
Ч Sklearn - дл€ машинного обучени€
